/* Loader Animation */
.loader {
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Estilos para el Buscador Predictivo */
.search-results-list {
    position: absolute;
    z-index: 50;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #d1d5db; /* gray-300 */
    border-radius: 0.375rem; /* rounded-md */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    margin-top: 4px;
}

.search-result-item {
    padding: 0.5rem 1rem; /* p-2 */
    cursor: pointer;
    font-size: 0.875rem; /* text-sm */
    color: #374151; /* gray-700 */
}

.search-result-item:hover {
    background-color: #eff6ff; /* blue-50 */
    color: #1d4ed8; /* blue-700 */
}

.search-container {
    position: relative;
}